name: Build

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  SHIELD: keyball_left
  BOARD_NAME: nrf52840_promicro

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: zmkfirmware/zmk-build-arm:2.5

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache west modules
        uses: actions/cache@v4
        with:
          path: |
            modules/
            tools/
            zephyr/
            bootloader/
            zmk/
          key: ${{ runner.os }}-build-${{ env.BOARD_NAME }}-${{ hashFiles('manifest-dir/west.yml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.BOARD_NAME }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      # ✅ west init は削除
      # - name: West Init
      #   run: west init -l config

      - name: West Update
        run: west update

      - name: Build (left)
        run: |
          west build -s zmk/app -d build/left -b $BOARD_NAME -- -DSHIELD=$SHIELD
          cat -n build/left/zephyr/${BOARD_NAME}.dts.pre.tmp

      - name: Upload (left)
        uses: actions/upload-artifact@v4
        with:
          name: firmware-left
          path: build/left/zephyr/zmk.uf2
